.basketWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.allOrders{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 50px 20px;
	}

	.totalAndButtonBlock{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100vw;
		margin-top: 50px;
		
		
		
		
		.totalPriceBlock{
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			max-width: 350px;
			width: 100vw;
		
			span{
				font-size: 25px;
			}
		}
	
		.buttonBlock{
			display: flex;
		}

	}

	.emptyMessageWrap{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		
		
		.emptyBasketMessage{
			font-size: 30px;
			margin-top: 100px;
		}
	
		.backToCat{
			font-size: 30px;
			color: red;
			border-bottom: 1px solid red;
			font-weight: normal;
		}
	}
}