.button{
	width: 130px;
	height: 50px;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.801);
	color:rgb(248, 115, 66);
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: pointer;
}
.button:disabled{
	width: 130px;
	height: 50px;
	font-size: 18px;
	background-color: grey;
	color:rgb(0, 0, 0);
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: not-allowed;
}
.button:disabled:hover{
	width: 130px;
	height: 50px;
	font-size: 18px;
	background-color: grey;
	color:rgb(7, 5, 4);
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: not-allowed;
}

.button:hover{
	background-color: rgba(15, 15, 4, 0.342);
	color: black;
	transition: .3s;
}
.addToBasket{
	width: 190px;
	height: 55px;
	font-size: 18px;
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: pointer;
	border: 2px solid rgb(248, 115, 66);
	color: black;
	background-color: white;
}
.addToBasket:hover{	
	background-color: rgb(231, 101, 40);
	color:white;
	transition: .3s;
}	
.addToBasket:active{
	background-color: rgb(107, 46, 24);
}

.addSubGood{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	border: 1px solid rgb(231, 101, 40);
	outline: none;
	cursor: pointer;
	background-color: white;
	color: black;
}
.addSubGood:hover{	
	background-color: rgb(231, 101, 40);
	transition: .3s;
}	
.deleteGood{
	width: 100px;
	height: 50px;
	border-radius: 12px;
	font-size: 18px;
	border: 1px solid red ;
	outline: none;
	cursor: pointer;
	background-color: white;
}
.deleteGood:hover{	
	background-color: red;	
	transition: .3s;
}	
.clearBasket{
	width: 190px;
	height: 50px;
	border-radius: 12px;
	font-size: 18px;
	border: 2px solid red;
	outline: none;
	cursor: pointer;
	background-color: white;
	margin: 10px;
}
.clearBasket:hover{	
	background-color: red;	
	transition: .3s;
}	
.makeOrder{
	width: 190px;
	height: 50px;
	border-radius: 12px;
	font-size: 18px;
	border: 2px solid rgb(248, 115, 66);
	outline: none;
	cursor: pointer;
	background-color: white;
	margin: 10px;

}
.makeOrder:hover{	
	background-color: rgb(248, 115, 66);	
	transition: .3s;
}	

.goBack{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 20px;
	border: 1px solid rgb(231, 101, 40);
	outline: none;
	cursor: pointer;
	background-color: white;
	color: black;
	margin: 20px;
}
.goBack:hover{	
	background-color: rgb(231, 101, 40);
	transition: .3s;
	
}	

